In [64]:
import pandas as pd

In [65]:
# Variables for read_csv
customers_crude_data_df_path = '../crude_data/olist_customers_dataset.csv'
original_cols = ['customer_id','customer_state']
index_col='customer_id'


customers_crude_data_df = pd.read_csv(customers_crude_data_df_path, usecols=original_cols, index_col=None)
# customers_crude_data_df.index.name=None
customers_crude_data_df.head()

                        customer_id customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7             SP
1  18955e83d337fd6b2def6b18a428ac77             SP
2  4e7b3e00288586ebd08712fdd0374a03             SP
3  b2b6027bc5c5109e529d4dc6358b12c3             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad             SP

In [66]:
# Variables for to_csv
desired_cols = ['id','state']
new_csv_path = '../treated_data/customers.csv'

# Creating formmated csv
customers_crude_data_df.columns = desired_cols
# customers_crude_data_df.drop("Unnamed: 0")
customers_crude_data_df.to_csv(new_csv_path, index=False);

In [67]:
# testing created csv

df = pd.read_csv(new_csv_path)
# df.loc[df['id']=='b2b6027bc5c5109e529d4dc6358b12c3']
df.head()

                                 id state
0  06b8999e2fba1a1fbc88172c00ba8bc7    SP
1  18955e83d337fd6b2def6b18a428ac77    SP
2  4e7b3e00288586ebd08712fdd0374a03    SP
3  b2b6027bc5c5109e529d4dc6358b12c3    SP
4  4f2d8ab171c80ec8364f7c12e35b23ad    SP