In [1]:
import pandas as pd

In [2]:
# Variables for read_csv
original_csv = '../crude_data/olist_products_dataset.csv'
original_cols = ['product_id','product_name_lenght','product_description_lenght']

original_csv_df = pd.read_csv(original_csv, usecols=original_cols, index_col=None)
original_csv_df.head()

,product_id,product_name_lenght,product_description_lenght
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0

In [3]:
# Variables for to_csv
desired_cols = ['id','name_lenght','description_lenght']
new_csv_path = '../treated_data/products.csv'

# Creating formatted csv
original_csv_df.columns = desired_cols
original_csv_df.to_csv(new_csv_path, index=False);

In [4]:
# testing created csv

df = pd.read_csv(new_csv_path)
df.head()

                                 id  name_lenght  description_lenght
0  1e9e8ef04dbcff4541ed26657ea517e5         40.0               287.0
1  3aa071139cb16b67ca9e5dea641aaa2f         44.0               276.0
2  96bd76ec8810374ed1b65e291975717f         46.0               250.0
3  cef67bcfe19066a932b7673e239eb23d         27.0               261.0
4  9dc1a7de274444849c219cff195d0b71         37.0               402.0