In [1]:
import pandas as pd

In [2]:
# Variables for read_csv
sellers_crude_data_df_path = '../crude_data/olist_sellers_dataset.csv'
original_cols = ['seller_id','seller_state']
index_col='customer_id'


sellers_crude_data_df = pd.read_csv(sellers_crude_data_df_path, usecols=original_cols, index_col=None)
sellers_crude_data_df.head()

                          seller_id seller_state
0  3442f8959a84dea7ee197c632cb2df15           SP
1  d1b65fc7debc3361ea86b5f14c68d2e2           SP
2  ce3ad9de960102d0677a81f5d0bb7b2d           RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3           SP
4  51a04a8a6bdcb23deccc82b0b80742cf           SP

In [3]:
# Variables for to_csv
desired_cols = ['id','state']
new_csv_path = '../treated_data/sellers.csv'

# Creating formmated csv
sellers_crude_data_df.columns = desired_cols
sellers_crude_data_df.to_csv(new_csv_path, index=False);

In [4]:
# testing created csv

df = pd.read_csv(new_csv_path)
df.head()

                                 id state
0  3442f8959a84dea7ee197c632cb2df15    SP
1  d1b65fc7debc3361ea86b5f14c68d2e2    SP
2  ce3ad9de960102d0677a81f5d0bb7b2d    RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3    SP
4  51a04a8a6bdcb23deccc82b0b80742cf    SP