In [6]:
import pandas as pd

In [7]:
# Variables for read_csv
original_table = './Summer-Olympic-medals-1976-to-2008.csv'
original_cols = ['Year','Discipline', 'Country', 'Medal']
encoding='latin-1'

original_csv_df = pd.read_csv(original_table, usecols=original_cols, encoding=encoding )
original_csv_df.head()

     Year Discipline        Country   Medal
0  1976.0     Diving   East Germany  Silver
1  1976.0     Diving   Soviet Union  Bronze
2  1976.0     Diving  United States    Gold
3  1976.0     Diving          Italy  Silver
4  1976.0     Diving  United States  Bronze

In [8]:
beijing_data = original_csv_df[original_csv_df['Year'] == 2008]
beijing_data.head()
# len(beijing_data.index)

         Year Discipline    Country   Medal
13391  2008.0     Diving      China  Bronze
13392  2008.0     Diving      China    Gold
13393  2008.0     Diving  Australia  Silver
13394  2008.0     Diving     Russia  Bronze
13395  2008.0     Diving      China    Gold

In [9]:
beijing_data_country_sum = beijing_data.groupby(by=['Discipline','Country'])["Medal"].count().reset_index()
beijing_data_country_sum.head()

  Discipline       Country  Medal
0    Archery         China      7
1    Archery        France      3
2    Archery         Italy      3
3    Archery  Korea, South      9
4    Archery        Russia      1

In [10]:
for index, row in beijing_data_country_sum.iterrows():
    if(index == 1 or index == 2):
        print(row)

Discipline    Archery
Country        France
Medal               3
Name: 1, dtype: object
Discipline    Archery
Country         Italy
Medal               3
Name: 2, dtype: object