In [105]:
import pandas as pd

In [106]:
original_cols = ['Year','Discipline', 'Country', 'Medal']
encoding='latin-1'

df = pd.read_csv('summerOlympics.csv', usecols=original_cols, encoding=encoding )

In [107]:
df.head()

     Year Discipline        Country   Medal
0  1976.0     Diving   East Germany  Silver
1  1976.0     Diving   Soviet Union  Bronze
2  1976.0     Diving  United States    Gold
3  1976.0     Diving          Italy  Silver
4  1976.0     Diving  United States  Bronze

In [108]:
#funcs

def somar(ouro, prata, bronze):
  return ouro + prata + bronze;

def somaMedalhas(dataFrame):
  ouro = 0
  prata = 0
  bronze = 0
  for x in dataFrame.Medal:
    if(x == 'Gold'):
      ouro += 1;
    elif(x == 'Silver'):
      prata += 1;
    elif(x == 'Bronze'):
      bronze += 1;

  res = [ouro, prata, bronze]
  return res

def filtraPorPais(colCountry, colOther, country, param, dataFrame):
  dfFiltrado = dataFrame[(dataFrame[colCountry] == country) & (dataFrame[colOther] == param) ]
  return dfFiltrado

def filtraPorModalidade(colDis, discipline, dataFrame):
  dfFiltrado = dataFrame[(dataFrame[colDis] == discipline) ]
  return dfFiltrado

def media(ouro, prata, bronze, total):
  media = somar(ouro, prata, bronze) / total
  return media * 100

In [109]:
dfJudoJap = filtraPorPais('Country', 'Discipline', 'Japan', 'Judo', df)

In [110]:
dfJudoEUA = filtraPorPais('Country', 'Discipline', 'United States', 'Judo', df)

In [111]:
dfJudoBRA = filtraPorPais('Country', 'Discipline', 'Brazil', 'Judo', df)

In [112]:
dfJudoGeral = filtraPorModalidade('Discipline', 'Judo', df)

In [113]:
ouroTot, prataTot, bronzeTot = somaMedalhas(dfJudoGeral)

In [114]:
total = somar(ouroTot, prataTot, bronzeTot)

In [115]:
ouroJap, prataJap, bronzeJap = somaMedalhas(dfJudoJap)

In [116]:
ouroEUA, prataEUA, bronzeEUA = somaMedalhas(dfJudoEUA)

In [117]:
ouroBra, prataBra, bronzeBra = somaMedalhas(dfJudoBRA)

In [118]:
print('Medalhas judo:                              ', 'Medalhas Geral:')
print('Ouro: ', ouroJap, '                           Ouro:', ouroTot)
print('Orata:', prataJap,'                           Prata:', prataTot)
print('Bronze:', bronzeJap,'                          Bronze:', bronzeTot)
print('total:', somar(ouroJap, prataJap, bronzeJap),'                          Total:', somar(ouroTot, prataTot, bronzeTot))

Medalhas judo:                               Medalhas Geral:
Ouro:  29                            Ouro: 99
Orata: 14                            Prata: 99
Bronze: 14                           Bronze: 198
total: 57                           Total: 396

In [119]:
mediaJap = media(ouroJap, prataJap, bronzeJap, total) 
mediaEUA = media(ouroEUA, prataEUA, bronzeEUA, total)
mediaBRA = media(ouroBra, prataBra, bronzeBra, total)

In [120]:
#média em relação ao total de medalhas
print('Japão:',"{:.2f}".format(mediaJap), 'Estados Unidos:',"{:.2f}".format(mediaEUA), 'Brasil:',"{:.2f}".format(mediaBRA))

Japão: 14.39 Estados Unidos: 2.27 Brasil: 3.54